<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Ticket Information</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="javascript:void()">Customer</a></li>
                    <li class="breadcrumb-item active">Ticket Information</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Customer Name :customerFirstName</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Ticket Number</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1"
                                        placeholder="Ticket Number">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">From</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="To">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">To</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="To">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Cost Price</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1"
                                        placeholder="Cost Price">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Retail Price</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1"
                                        placeholder="Retail Price">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Ticket Type</label>
                                    <select type="date" class="form-control" id="booking_date">
                                        <option value="V1">Single</option>
                                        <option value="V2">Return</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Booking Date</label>
                                    <input type="date" class="form-control" id="booking_date">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-8">
                            <img id="blah" src="/assets/dist/img/passport.jpg" alt="your image" />
                            <div class="form-group">
                                <label for="exampleInputFile">Passport Upload</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="exampleInputFile">
                                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

</section>
<!-- /.content -->