
<section class="content">
    <div class="container-fluid">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-edit"></i>
                    Setting
                </h3>
                <p *ngIf="errorMessage!=''" style="color: red;text-align: center;">{{errorMessage}}</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-5 col-sm-3">
                        <div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist"
                            aria-orientation="vertical">
                            <a class="nav-link active" id="vert-tabs-representative-tab" data-toggle="pill" href="#vert-tabs-representative"
                                role="tab" aria-controls="vert-tabs-representative" aria-selected="true" (click)="ClickTab(0)">Representative</a>
                            <a class="nav-link" id="vert-tabs-airline-tab" data-toggle="pill" href="#vert-tabs-airline"
                                role="tab" aria-controls="vert-tabs-airline" aria-selected="false" (click)="ClickTab(1)">Air Line</a>
                            <a class="nav-link" id="vert-tabs-tickettype-tab" data-toggle="pill"
                                href="#vert-tabs-tickettype" role="tab" aria-controls="vert-tabs-tickettype"
                                aria-selected="false" (click)="ClickTab(2)">Ticket Type</a>
                            <a class="nav-link" id="vert-tabs-visatype-tab" data-toggle="pill"
                                href="#vert-tabs-visatype" role="tab" aria-controls="vert-tabs-visatype"
                                aria-selected="false" (click)="ClickTab(3)">Visa Type</a>
                        </div>
                    </div>
                    <div class="col-7 col-sm-9">
                        <div class="tab-content" id="vert-tabs-tabContent">
                            <div class="tab-pane text-left fade show active" id="vert-tabs-representative" role="tabpanel"
                                aria-labelledby="vert-tabs-representative-tab">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Dealer</label>
                                                        <select class="form-control" id="exampleInputEmail1"
                                                            [(ngModel)]="representativeRequest.dealerId">
                                                            <option *ngFor="let r of dealerCommonResponse"
                                                                [value]="r.dealerId">{{r.dealerName}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="exampleInputPassword1">Representative Name</label>
                                                        <input type="text" class="form-control" id="cLastName"
                                                            placeholder="Representative Name"
                                                            [(ngModel)]="representativeRequest.representativeName" maxlength="30"
                                                            autocomplete="off">
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <button class="btn btn-primary mr-1" style="margin-top: 30px;" (click)="AddRepresentative()">Submit</button>
                                                    <button class="btn btn-secondary" style="margin-top: 30px;" (click)="ResetAll()">Reset</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="vert-tabs-airline" role="tabpanel"
                                aria-labelledby="vert-tabs-airline-tab">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="exampleInputPassword1">Air Line Full Name</label>
                                                        <input type="text" class="form-control" id="cLastName"
                                                            placeholder="AirLine Name"
                                                            [(ngModel)]="airLineRequest.AirLineFullName" maxlength="30"
                                                            autocomplete="off">
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="exampleInputPassword1">Air Line Short Name</label>
                                                        <input type="text" class="form-control" id="cLastName"
                                                            placeholder="Short Name"
                                                            [(ngModel)]="airLineRequest.AirLineABR" maxlength="30"
                                                            autocomplete="off">
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <button class="btn btn-primary mr-1" style="margin-top: 30px;" (click)="AddAirLine()">Submit</button>
                                                    <button class="btn btn-secondary" style="margin-top: 30px;" (click)="ResetAll()">Reset</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="vert-tabs-tickettype" role="tabpanel"
                                aria-labelledby="vert-tabs-tickettype-tab">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="exampleInputPassword1">Ticket Type</label>
                                                        <input type="text" class="form-control" id="cLastName"
                                                            placeholder="Ticket Type"
                                                            [(ngModel)]="ticketTypeRequest.TicketTypeName" maxlength="30"
                                                            autocomplete="off">
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <button class="btn btn-primary mr-1" style="margin-top: 30px;" (click)="AddTicketType()">Submit</button>
                                                    <button class="btn btn-secondary" style="margin-top: 30px;" (click)="ResetAll()">Reset</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="vert-tabs-visatype" role="tabpanel"
                                aria-labelledby="vert-tabs-visatype-tab">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="exampleInputPassword1">Visa Type</label>
                                                        <input type="text" class="form-control" id="cLastName"
                                                            placeholder="Visa Type"
                                                            [(ngModel)]="visaTypeRequest.VisaTypeName" maxlength="30"
                                                            autocomplete="off">
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <button class="btn btn-primary mr-1" style="margin-top: 30px;" (click)="AddVisaType()">Submit</button>
                                                    <button class="btn btn-secondary" style="margin-top: 30px;" (click)="ResetAll()">Reset</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.card -->
    </div>
    <div class="container-fluid">
        <div class="card-header">
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Setting Detail</h3>
                    </div>
                    <!-- /.representative -->
                    <div class="card-body table-responsive p-0" *ngIf="representative && isData">
                        <table class="table table-head-fixed text-nowrap">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Representative Name</th>
                                    <th>Dealer Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let obj of representativeCommonResponse">
                                    <td>{{obj.representId}}</td>
                                    <td>{{obj.representativeName}}</td>
                                    <td>{{GetDealerName(obj.dealerId)}}</td>
                                    <td>
                                        <a class="p-2"><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.airline -->
                    <div class="card-body table-responsive p-0" *ngIf="airline">
                        <table class="table table-head-fixed text-nowrap">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Short Name</th>
                                    <th>Full Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let obj of airlineResponse">
                                    <td>{{obj.airLineId}}</td>
                                    <td>{{obj.airLineABR}}</td>
                                    <td>{{obj.airLineFullName}}</td>
                                    <td>
                                        <a class="p-2"><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.tickettype -->
                    <div class="card-body table-responsive p-0" *ngIf="tickettype">
                        <table class="table table-head-fixed text-nowrap">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let obj of ticketTypeResponse">
                                    <td>{{obj.ticketId}}</td>
                                    <td>{{obj.ticketTypeName}}</td>
                                    <td>
                                        <a class="p-2"><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.visatype -->
                    <div class="card-body table-responsive p-0" *ngIf="visatype">
                        <table class="table table-head-fixed text-nowrap">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let obj of visaTypeResponse">
                                    <td>{{obj.visaTypeId}}</td>
                                    <td>{{obj.visaTypeName}}</td>
                                    <td>
                                        <a class="p-2"><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>