<div class="row">
    <div class="col-4">
        <div class="form-group">
            <label for="exampleInputEmail1">Ticket No</label>
            <input type="text" class="form-control" id="return_from" readonly placeholder="Asd12345"
                [(ngModel)]="ticketNum">
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <label for="exampleInputEmail1">Instalment Amount</label>
            <input type="text" class="form-control" id="return_from" placeholder="Enter instalment amount">
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <label for="exampleInputEmail1">Refund Amount</label>
            <input type="text" class="form-control" id="return_Amount" placeholder="Enter Amount">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-group" style="float: right;">
            <button (click)="CloseTicketDetailModal()" class="btn btn-default mr-2">Close</button>
            <button (click)="AddTicketDetail()" class="btn btn-primary">Save</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="input-group input-group-sm">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search"
                [(ngModel)]="searchText">

            <div class="input-group-append">
                <button type="submit" class="btn btn-default">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
        <hr>
        <div class="card-body table-responsive p-0" style="height: 400px;">
            <table class="table table-head-fixed text-nowrap"
                *ngIf="(ticketDetailResponse | filter: searchText).length > 0; else noResults">
                <thead>
                    <tr>
                        <th>Sr #</th>
                        <th>Date</th>
                        <th>Instalment Amount</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let r of ticketDetailResponse| filter:searchText;let i=index;">
                        <td>{{i+1}}</td>
                        <td>{{r.createdDate}}</td>
                        <td>{{r.ticketInstalment}}</td>
                        <td>
                            <a class="p-2" href="javascript:void(0)" (click)="TicketDetailUpdate(r)"><i
                                    class="fas fa-edit"></i></a>
                            <a class="p-2" href="javascript:void(0)" (click)="OpenDeleteModal(r.ticketNumber)"><i
                                    class="fas fa-trash"></i></a>

                        </td>

                    </tr>
                </tbody>
            </table>
            <ng-template #noResults>
                <p style="text-align:center;color: red;">No results found for "{{searchText}}".</p>
            </ng-template>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button (click)="CloseDeleteModal()" class="btn btn-default">Close</button>
                <button (click)="DeleteTicketDetail()" class="btn btn-primary">Delete</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>